<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>CodexFold Native FSKit Module</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>EXAppExtensionAttributes</key>
	<dict>
		<key>EXExtensionPointIdentifier</key>
		<string>com.apple.fskit.fsmodule</string>
		<key>FSActivateOptionSyntax</key>
		<dict>
			<key>shortOptions</key>
			<string>o:</string>
		</dict>
		<key>FSMediaTypes</key>
		<dict/>
		<key>FSPersonalities</key>
		<dict/>
		<key>FSRequiresSecurityScopedPathURLResources</key>
		<true/>
		<key>FSShortName</key>
		<string>codexfoldnative</string>
		<key>FSSupportedSchemes</key>
		<array>
			<string>codexfoldnative</string>
		</array>
		<key>FSSupportsBlockResources</key>
		<false/>
		<key>FSSupportsGenericURLResources</key>
		<true/>
		<key>FSSupportsPathURLs</key>
		<true/>
		<key>FSSupportsServerURLs</key>
		<false/>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
</dict>
</plist>
